*{
    margin: 0;
    padding: 0;
}
header{
 
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}   
.logo img{
    margin-top: 1px;
    width: 120px;
    height: 85px;
}
.menu{
    
    margin-top: 50px;
}
.menu ul{
    display: flex;
    list-style: none;
    font-size: 20px;
     
   
}
.menu-li{
    padding: 10px 30px; 
    padding-bottom: 20px;
     
}
.menu-li a{
    text-decoration: none;
    color: black;
}
.sidemenu ul{
    display: flex;
    list-style: none;
    font-size: 18px;
    margin-top: 35px;
}
.sidemenu ul li{
    margin: 0 10px;
    display: block;
}
.sidemenu ul li a{
    display: flex;
    flex-direction: column; 
    text-decoration: none;
    align-items: center;
    color: black;
}
.sidemenu ul li a i{
    font-size: 23px;
}
.container{
    position: absolute;
    border-top: solid 3px #CD0071;
    padding-bottom: 30px;
    width: 100%;
    top: 16%;
    left: 0;
    opacity: 0;
    z-index: 999;
    transform: translateY(-10px);
    transition: none;
    visibility: hidden;
}
.container.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .container.animate-down {
    transition: all 0.3s ease; /* 처음 열릴 때만 부드럽게 */
  }
  
  .container.animate-up {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
  }
.try,
.try2,
.try3,
.try4{
    position: absolute;
    top: -10px;
    left: 31%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #CD0071; /* Color of the triangle */
    transition: border-top-color 0.3s ease; /* Smooth transition for the triangle */
}
.try2{
    left: 41.5%;
}
.try3{
    left: 51.5%;
}
.try4{
    left:62%;
}
.suball{
    background-image: url(./img/submenuimg.png);
    width: 100%;
    height: 25vw;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); /* 아래쪽에 그림자 */
    top: 15%;
    left: 0;
    display: flex;
    
}
 
.time{
    display: block;
    margin-top: 50px;
    margin-left: 130px;
    align-items: center;
    
}
.time::after {
    content: "";  
    display: block;  
    width: 2px; 
    background-color: rgba(0, 0, 0, 0.3); 
    position: absolute; 
    left: 25%;  
    top: 0;
    height:92%; 
     
}
.time i{
    font-size: 80px;
    color: rgb(0, 0, 0,0.7);
 
}
.time p{
    margin-top: 10px;
}
.time span{
    color: #CD0071;
    font-weight: bold;
}
.submenu{
    margin-top: 50px;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
} 
.submenu li{
    margin: 7px 0;
    margin-left: 10px;
 
}
.submenu li a:hover{
     font-weight: bold;
     color: #CD0071;
}

/* 슬라이더 컨테이너 및 기본 스타일 */
.slider-container {
    position: relative;
    width: 100%;
    max-width: 98.5%;
    margin: auto;
    overflow: hidden;
    
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider img {
    width: 100%;
    min-width:100%;
    height: auto;
}

.prev,
.next {
    position: absolute;
    top: 45%;
    z-index: 1;
    background: none;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 40px;

    transform: translateY(-50%);
}

button.prev {
    left: 5px;
}

button.next {
    right: 5px;
}

/* 인디케이터 컨테이너 스타일 */
.indicator-container {
    position: absolute; /* 슬라이드 이미지 위에 배치 */
    bottom: 10px; /* 이미지 하단에 위치 (위치를 조정할 수 있음) */
    left: 50%; /* 화면 중앙에 배치 */
    transform: translateX(-50%); /* 수평 중앙 정렬 */
    display: flex;
    justify-content: center;
    z-index: 2; /* 인디케이터가 이미지 위에 보이도록 설정 */
    padding: 10px 0;
}
.indicator {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}
 
.indicator.active {
    background-color: #717171;
}
h1{
    font-size: 40px;
}
.groupall h1{
    margin-top: 80px;
    margin-left: 10px;
    opacity: 0;
    transform: translateY(30px);
     transition: opacity 0.6s ease, transform 0.6s ease;
}
.group{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;  
}
.group img{
    box-shadow: 0px 1px 5px black;
    border-radius: 40px;
    max-width: 350px;
    margin: 0 10px;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease;
}
.groupall h1.visible,
.group img.visible {
    opacity: 1;
    transform: translateY(0);
  }

.atraction {
    background-color: rgb(229, 229, 229,0.5);
    height: 85vh;
}
.textimgs{
    display: flex;
    align-items: center;        /* 세로 가운데 */
    justify-content: center;    /* 전체 가운데 */
}
  .textimgs p{
    text-align: center;
    font-size: 32px;
    color: #54424B;
    opacity: 1;
    transform: translateY(40px);
    transition: all 0.8s ease;
 }
 .textimgs span{
    color:#FF359B;
    font-weight: 500;
 }
 .tab-buttons{
    margin-top: 70px;
 }
.tab-buttons ul{
    display: flex;
   justify-content: center;
    list-style: none;
}
.tab-buttons ul li{
    margin: 0 10px;
}
.tab-buttons ul li button{ 
    width: 100px;
    height: 35px;
    border: solid #FF359B;
    color: #54424B;
    border-radius: 30px;
    font-size: 17px;
} 
.tab-group {
    margin-top: 30px;
    display: none;
    justify-content: center;
    gap: 30px;
}
.tab-group.active {
    display: flex;
}
.tab-btn.active {
  background: #FF359B;
  color: #ffffff;
  font-weight: 600;
}
.allsale{
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: rgb(255, 101, 154,0.1);
}
.allsale p{
    display: flex;
    text-align: center;
    justify-content: center;
}
.allsale p:first-child{
    font-size: 25px;
    color: #FF359B;
    font-weight: bold;
    
}
.cardall {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 90%;
    margin-top: 30px;
    margin: 30px auto 0;
    place-items: center;
}
.cardall img{
    margin: auto;
}
.salebtn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.salebtn button{
    font-size: 18px;
    border-radius: 50px;
    padding: 3px 50px;
    border: solid #FF359B;
    color: #54424B;
    background: none;
    cursor: pointer;
}
.salebtn button:hover {
    background: #FF359B;
    transition: all 0.3s;
}
.infonrmationall {
    display: flex;
    width: 100%;
}

.infonrmationall > div {
    flex: 1;                
    position: relative;     
}

.infonrmationall img {
    width: 100%;
    height: 100%;
    box-shadow: 0px 2px 5px rgb(0, 0, 0,0.25);
    display: block;        /* 이미지 아래 여백 제거 */
}

/* 텍스트 공통 스타일 */
.infonrmationall p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    z-index: 2;
    text-align: center;
}

/* 첫 번째 텍스트 */
.infonrmationall p:first-child {
    top: 25%;
    font-size: 30px;
}

/* 두 번째 텍스트 */
.infonrmationall p:nth-child(2) {
    top: 47%;
    color: black;
    font-size: 26px;
    font-weight: bold;
}
.rectangle3 p:nth-child(1){
    width: 100%;
}
.allsale p:nth-child(2){
    font-size: 20px;
     color: #54424B;
}
.newspaper{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.newsall{
    margin-right: 25px;
    border: 1px solid rgb(0, 0, 0,0.5); 
    width: 45%;
    padding: 50px;
 
     
}
.newsall h3{
    margin-bottom: 20px;
    font-size: 25px;
}
.news{
    margin-left: 30px;
}
.news li a{
    font-size: 18px;
    display:flex;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;

}
.news li:nth-child(1) a p:nth-of-type(2){
    margin-left: 200px;
}
.news li:nth-child(2) a p:nth-of-type(2){
    margin-left: 110px;
}
.news li:nth-child(3) a p:nth-of-type(2){
    margin-left: 188px;
}
.news li a p:nth-child(1){
    font-weight: bold;
}

.newsheader {
   
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between; /* 텍스트 왼쪽, 버튼 오른쪽 */
    align-items: center;
    z-index: 2;
}
  .newsheader h3 {
    margin: 0;
    font-size: 22px;
  }
  .ba,.ne {
    margin: 0 5px;
    color: black;
    border: none;
    font-size: 20px;
    background: none;
    cursor: pointer;
  }
  .newsimg {
    
    position: relative;
    width: 330px;
    height: 309px; /* 이미지 높이를 적절히 설정 */
    overflow: hidden;
  }
  
  .newsimg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .newsimg img.active {
    opacity: 1;
    z-index: 1;
  }
 
  .image-group {
    display: none;  
    flex-wrap: wrap;
  }
  
  .image-group img {
    width: 320px;
    object-fit: cover;
  }

  .final ul{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    padding: 15px 0;
  }
  .final ul li{
    list-style: none;
    margin: 0 20px;
  }
  .final ul li a{
    text-decoration: none;
    color: black;
  }
  .logosall{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
  }
  .txts{
    font-weight: bold;
    margin-right: 170px;
  }
  .snslogo ul{
    display: flex;
  }
  .snslogo ul li{
    list-style: none;
    margin: 0 5px;
}